<app-header></app-header>
<div class="container" style="min-height: 80vh;">
  <div class="row">
    <div class="col-md-3 my-2 offset-md-2">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <p class="text-center"><b>ACTUALIZACIÓN DE DATOS DE USUARIO</b></p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nombre:</span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Apellidos:</span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Email:</span>
            <input type="mail" class="form-control">
          </div>
          <p class="text-justify">Para actualizar los datos es necesario que introduzca la contraseña en el siguiente campo</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Contraseña:</span>
            <input type="password" class="form-control">
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Actualizar información de usuario</button>
          </div>

        </div>
      </div>
    </div>



    <div class="col-md-3 my-2 offset-md-1">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <p class="text-center"><b>CAMBIO DE CONTRASEÑA</b></p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Anterior:</span>
            <input type="password" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nueva:</span>
            <input type="password" class="form-control">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Repetir Nueva:</span>
            <input type="password" class="form-control">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Actualizar contraseña</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>