<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col my-2">
      <h1 class="text-center">PANEL DE CONTROL</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a data-bs-toggle="modal" data-bs-target="#ModalNuevoAcuario" class="agregarAcuario puntero"><i class="fa-solid fa-circle-plus"></i> Agregar Acuario</a>
    </div>
  </div>

  <div class="row" *ngIf="acuarios">
    <div class="col-lg-4 col-md-6 my-2" *ngFor="let acuario of acuarios">
      <app-tarjeta-panel [Acuario]="acuario"></app-tarjeta-panel>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="ModalNuevoAcuario" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 colorAzul"><b>AGREGAR NUEVO ACUARIO</b></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h4 class="card-title text-center"><b>CONFIGURACIONES DEL ACUARIO</b></h4>
            <hr>
            <h5 class="text-center"><i class="fa-solid fa-utensils"></i><b> Alimentación</b></h5>
            <div class="row">
              <div class="col-md-4">
                <h6 class="text-center"><b>Horario 1</b></h6>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-clock"></i></span>
                  <input type="time" class="form-control" [(ngModel)]="horario1">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-stopwatch"></i></span>
                  <input type="number" class="form-control" [(ngModel)]="cantidad1">
                </div>
              </div>

              <div class="col-md-4">
                <h6 class="text-center"><b>Horario 2</b></h6>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-clock"></i></span>
                  <input type="time" class="form-control" [(ngModel)]="horario2">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-stopwatch"></i></span>
                  <input type="number" class="form-control" [(ngModel)]="cantidad2">
                </div>
              </div>

              <div class="col-md-4">
                <h6 class="text-center"><b>Horario 3</b></h6>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-clock"></i></span>
                  <input type="time" class="form-control" [(ngModel)]="horario3">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-stopwatch"></i></span>
                  <input type="number" class="form-control" [(ngModel)]="cantidad3">
                </div>
              </div>
            </div>
            <hr>

              <div class="row">
                <div class="col">
                  <h5 class="text-center"><i class="fa-solid fa-temperature-three-quarters"></i><b> Temperatura</b></h5>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Temp Min:</span>
                    <input type="number" class="form-control" [(ngModel)]="tempMin">
                    <span class="input-group-text" id="basic-addon1">Temp Max:</span>
                    <input type="number" class="form-control" [(ngModel)]="tempMax">
                  </div>
                </div>
                <div class="col">
                  <h5 class="text-center"><i class="fa-solid fa-chart-line"></i><b> pH</b></h5>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">pH Min:</span>
                    <input type="number" class="form-control" [(ngModel)]="phMin">
                    <span class="input-group-text" id="basic-addon1">pH Max:</span>
                    <input type="number" class="form-control" [(ngModel)]="phMax">
                  </div>
                </div>
              </div>

            <hr>
            <h5 class="text-center"><i class="fa-solid fa-lightbulb"></i><b> Iluminación</b></h5>
            <div class="row">
              <div class="col-md-4 offset-md-2">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Horario On:</span>
                  <input type="time" class="form-control" [(ngModel)]="luzHorarioOn">
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Horario Off:</span>
                  <input type="time" class="form-control" [(ngModel)]="luzHorarioOff">
                </div>
              </div>
            </div>
            <hr>

            <h5 class="text-center"><i class="fa-solid fa-camera"></i><b> Fotografía</b></h5>
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <div class="mb-3">
                  <input class="form-control" type="file" id="foto"  (change)="onFileSelected($event)"  accept="image/*">
                  <img *ngIf="imgPreview" [src]="imgPreview" class="img-fluid" />
                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col text-center">
                <button (click)="agregarAcuario()" class="btn btn-primary">Guardar Configuraciones</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>